/*

!.envrc
!flake.nix
!flake.lock
!CMakeLists.txt
!cmake/
!tests/

!docs/

!nix/
!sdk/
!plugins/

!src/
!core/
!include/
!apps/
!cli/

!.gitignore
!README.md
!LICENSE
!NOTICE

!.github/
!docker-compose.yml
!docker-compose.ice.yml
!ci/

/plugins/**/libs
/plugins/**/build